<div class="container-fluid bg-light py-3">
    <form ng-submit="submitProduct()">
        <div class="controls">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prod_name">Name </label>
                        <input id="prod_name" type="text" class="form-control" ng-model="productName" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prod_type"> Type </label>
                        <select id="prod_type" type="text" class="form-control" ng-model="productType" required>
                            <option value="BOOKS"> Books</option>
                            <option value="CLOTHING"> Clothing </option>
                            <option value="ELECTRONICS"> Electronics </option>
                            <option value="MOBILES"> Mobiles </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prod_price"> Price </label>
                        <input id="prod_price" type="text" class="form-control" ng-model="productPrice" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prod_img"> Img File Name : </label>
                        <input id="prod_img" type="text" class="form-control" ng-model="productImg" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="prod_margin"> Margin Per : </label>
                        <input id="prod_margin" type="text" class="form-control" ng-model="productMargin" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="prod_desc">Description</label>
                    <textarea id="prod_desc" name="message" class="form-control" rows="4" ng-model="productDesc"
                              required></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-outline-info btn-rounded  hoverable ProdBtn" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>