<div class="container">

    <form class="form-signin" ng-submit="login(user)" >
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
            <label for="inputUser" class="sr-only">Username</label>
            <input type="text" id="inputUser" class="form-control" placeholder="Username" ng-model="user.inputUser" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.inputPassword" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <span class="text-danger" style="color:red">{{ error }}</span>
        <br>
        <div><button class="btn btn-lg btn-primary btn-block" ng-click="registerBuyer()">Register</button></div>
    </form>


</div>